@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&family=Ubuntu&family=Varela+Round&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.aboutContainer {
    padding: 15px;
    margin: 15px;
}

@media screen and (min-width: 690px) and (max-width: 750px) {
    .aboutContainer {
        padding: 10px;
        margin: 10px;
    }

  
}

@media screen and (max-width: 690px) {
    .aboutContainer {
        padding: 7px;
        margin: 7px;
    }
    
}

.descrip {
    /* font-family: 'Roboto Mono', monospace; */
    /* font-family: 'Ubuntu', sans-serif; */

    font-family: 'Varela Round', sans-serif;
}