* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* register form */
.register {
  display: flex;
  justify-content: center;
}

form {
  display: flex;
  padding: 20px 0;
  flex-direction: column;
  align-items: center;
  width: 360px;
  border: 2px solid black;
  margin: 20px 1px;
  background-color: rgb(242, 239, 239);
}

.container {
  display: flex;
  flex-direction: column;
  /* width: 25vw; */
  /* width: 100%; */
  width: 300px;
}

h1,
p {
  text-align: center;
}

/* desired spacing for input fields */
/* more styles added to beautify the input fields */
input {
  display: flex;
  margin: 0.25em 0em 1em 0em;
  outline: none;
  padding: 0.5em;
  background-color: rgb(225, 225, 225);
  border-radius: 0.25em;
  color: black;
  border: 1px solid rgb(58, 56, 56);
  width: 100%;

}

/* styles for button */
button {
  padding: 0.75em;
  border: none;
  outline: none;
  background-color: rgb(68, 18, 232);
  color: white;
  border-radius: 0.25em;
}

/* hover functionality for button */
button:hover {
  cursor: pointer;
  background-color: rgb(41, 4, 164);
}
.registerBtn{
  margin: 4px 0px;
}