* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

body {
  font-family: Arial, sans-serif;
   background-color: #8dcbd4;
  margin: 0;
  padding: 0;
  /* overflow-x: hidden; */
}

header {
  background-color: rgba(17, 16, 16, 0.902);
  color: #fff;
  padding: 20px;
  text-align: center;
  height: 110px;
  font-family: Snap ITC;
  font-size: 20px;
}

header h1 {
  position: relative;
  top: 10px;
}



nav {
  background-color: #444343;
  /* background-color: #eee; */
  display: flex;
  justify-content: center;
}

#header {
  /* position: fixed; */
  width: 100%;
  top: 0;
}

.flex-align-right {
  margin-left: auto;
}

.tagline {
  font-size: 40px;
}

.productHeading {
  margin: 10px;
}


nav a {
  /* color: #333; */
  color: white;
  text-decoration: none;
  padding: 10px 30px;
}

nav a:hover {
  color: #2d2b2b;
  background-color: #d7d1d1;
}

.navicons {
  display: none;
}

@media (max-width: 610px) {
  .navbar {
    display: none;
  }

  .navicons {
    display: flex;
    /* position: fixed; */
  }
}

/* Navbar sidebar for small devices
 */
/* .side-bar {
  position: fixed;
  top: 0;
  left: -110%;
  height: 100%;
  width: 30rem;
  background: #fff;
  z-index: 10000;
}
.side-bar.active {
  left: 0;
  box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.7);
}
.side-bar #close-side-bar {
  position: absolute;
  top: 1rem;
  right: 2rem;
  font-size: 4rem;
  cursor: pointer;
  color: #666;
}
.side-bar #close-side-bar:hover {
  transform: rotate(90deg);
  color: #333;
}
.side-bar .navbar {
  padding-top: 1rem;
}
.side-bar .navbar a {
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem;
  font-size: 1.7rem;
  color: #666;
}
.side-bar .navbar a:hover {
  color: #0984e3;
}
.side-bar .navbar a:hover i {
  padding-right: 2rem;
}
.side-bar .navbar a i {
  padding-right: 0.5rem;
} */


main {
  padding: 20px;
}

.tagline {
  position: relative;
  top: 90px;
  letter-spacing: 2px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

@media screen and (min-width: 761px) and (max-width: 890px) {
  .tagline {
    position: relative;
    top: 30px;
    letter-spacing: 2px;
    font-size: 32px;
  }

  .homeimg {
    width: 300px;
  }

}

@media screen and (max-width: 760px) {

  .tagline {
    position: relative;
    top: 30px;
    font-size: 33px;
    margin: 0 1px 10px;
    text-align: center;
  }

  .homeimg {
    display: flex;
    width: 350px;
    margin: 2px 1px;

  }


  .homeContainer {
    flex-direction: column-reverse;
  }

}

.homeContainer {
  display: flex;
  padding: 20px;
  gap: 7%;

}

.homeBox {
  padding: 20px;
}

.homeimg {
  border-radius: 4px;
  max-width: 500px;
}

/* @media screen and (min-width: 890px) {
  .homeimg {
    width: 100%;
    max-width: 500px;
    height: auto;
  }
} */

.productContainer {
  display: flex;
  direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

.product {
  background-color: #fff;
  border: 1px solid #979393;
  box-shadow: 2px 2px 10px #919090;
  margin: 20px;
  text-align: center;
  width: 300px;
  border-radius: 6px;
}

.product img {
  width: 100%;
}

.add-to-cart {
  padding: 5px;
  width: 100px;
  margin: 20px 5px;
}

/*------------------
<========Footer======>
-------------------*/

.footerContainer {
  display: flex;
  padding: 30px;
  /* margin: 10px; */
}

.footerContainer p {
  color: #8aa0ae;
}

.footerContainer a {
  color: #fefefe;
}

.footerTop {
  background-color: #2c3840;
}

.footerHeading {
  color: #fefefe;
  padding: 25px 2px;
  font-size: 30px;
}

.columns {
  width: 100%;
  padding: 10px;
}

.footerSocial {
  display: flex;
}

.footerSocial a {
  font-size: 25px;
  padding: 10px;
}

.footerContact {
  color: #fefefe;
  padding: 20px;
  font-size: 20px;
}

.instaContainer {
  display: flex;
  gap: 5%;
  flex-wrap: wrap;
}

.instaBox {
  margin: 15px 10px;
}

.footerBottom {
  background-color: #111112;
}

.columns i {
  font-size: 32px;
  padding: 5px;
}

.footer-icon {
  display: flex;
}

.footer-icon p {
  margin: 10px;
}


.footerNav {
  margin: 2px 50px;
  display: flex;
}

.footerNav a {
  padding: 5px;
  margin: 2px 15px;
}

.footerBottom p {
  padding: 0 10px 20px;
  color: white;
}


@media screen and (min-width: 861px)and (max-width: 1070px) {
  .instaBox img {
    width: 60px;
  }

  .instaBox {
    margin: 12px 7px;
  }
}

@media screen and (min-width: 611px) and (max-width: 860px) {
  .instaBox img {
    width: 50px;
  }

  .instaBox {
    margin: 12px 2px;
  }
}

@media (max-width: 640px) {
  .footerContainer {
    flex-direction: column;
  }

  footer .footerDescrip {
    padding: 10px;
  }

  .column,
  .footerNav {
    font-size: 18px;
    flex-direction: column;
    text-align: center;
    padding: 10px 1px;
    margin: auto;
  }

  .footerNav li {
    padding: 10px;
  }

  .instaBox img {
    width: 60px;
  }
}
